# Exclude settings
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Built src
build/*
!build/qt6/host/qt-build-host.sh

# Virtual environment
venv/

# User CMake settings
CMakeList.txt.user

# Kvaser built files
*.txe

# CanKing backups
*.BAK

# Certificates
*.cer

# Storage files
*.bolt
*.sqlite

# STM default directories
src-stm/*
!src-stm/Core
!src-stm/Drivers
!src-stm/*.ioc

# Sensitive information
config.ini