# Exclude settings
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Built src
dist/*

# Ruff
.ruff_cache

# Python cache
**/__pycache__

# Python virtual environment
.venv/
venv/

# PyCharm
.idea/

# Secrets
secrets/*.txt
